---
interface Props {
  title?: string;
  buttonLink?: string;
  buttonLabel?: string;
  members?: { image: string; name: string; role: string; link: string }[];
}

const {
  title = "Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing",
  buttonLink = "#",
  buttonLabel = "View All",
  members = [
    { image: "https://placehold.co/306x330", name: "John Doe", role: "CEO & Founder", link: "#" },
    {
      image: "https://placehold.co/306x330",
      name: "Jane Smith",
      role: "Head of Operations",
      link: "#",
    },
    { image: "https://placehold.co/306x330", name: "Bob Wilson", role: "Lead Designer", link: "#" },
    {
      image: "https://placehold.co/306x330",
      name: "Alice Brown",
      role: "Senior Developer",
      link: "#",
    },
  ],
} = Astro.props;
---

<section class="section-team">
  <div class="section-space-bottom">
    <div class="container">
      <div class="mb-10 flex flex-wrap items-center justify-between gap-10 md:mb-[60px] lg:mb-20 lg:flex-nowrap">
        <h2 class="max-w-3xl">{title}</h2>
        <a href={buttonLink} class="btn btn-primary">
          <span>{buttonLabel}</span>
          <span>{buttonLabel}</span>
        </a>
      </div>
      <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:pb-[130px]">
        {members.map((member) => (
          <li class="group xl:odd:translate-y-[120px]">
            <a href={member.link} class="flex flex-col items-center">
              <div class="flex h-[330px] overflow-hidden rounded-lg group-odd:bg-accent/20 group-even:bg-accent/40">
                <img src={member.image} alt={member.name} width="306" height="330" class="mx-auto mt-auto" />
              </div>
              <div class="mt-6">
                <span class="display-heading display-heading-5 block">{member.name}</span>
                <span>{member.role}</span>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</section>
